.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: white;
}

.content {
    padding: 20px;
    margin-bottom: 20px;
    background-color: cadetblue;
}

.col {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}